#root {
  background-color: #fafafa;
  color: #212121;
  /* margin: 10px; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* place-items: center; */
  min-width: 32rem;
  min-height: 100vh;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
}

html {
  /* Adiciona um efeito de rolagem suave quando links internos são clicados */
  scroll-behavior: smooth;
  /* Define o tamanho da fonte base como 10px (para facilitar o uso de rem) */
  font-size: 62.5%;
  /* Garante que o elemento html não seja maior que a largura da viewport */
  max-width: 100vw;
}

* {
  /* Altera o modelo de caixa para incluir padding e border na largura e altura de um elemento */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0.8rem 0;
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0.4rem 0;
}

label {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.3;
}

/* Estilo para Inputs, Selects e Textareas */
input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não quebre o layout */
}

/* Botões */
button {
  background-color: #646cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

/* Tabelas Responsivas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 37.2%;
  }
}