.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 97vh;
}

.formulario {     
    display: flex; 
    flex-direction: column; 
    margin-top: 5rem;
    max-width: 40rem;
}