.container {
  background-color: #eee;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}


.botoes {
  display: flex;
  gap: 10px;
}

.botao {
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.botao:hover {
  transform: scale(1.1); 
}

.cadastrar {
  background-color: green;
}

.editar {
  background-color: #17a2b8;
}

.listar {
  background-color: orange;
}

.excluir {
  background-color: crimson;
}

.cancelar {
  background-color: gray;
}
